---
import DocsLayout from "../../layouts/DocsLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs.map((doc) => ({
    params: { slug: doc.slug },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await doc.render();
---

<DocsLayout>
  <article class="prose prose-slate max-w-none">
    <h1>{doc.data.title}</h1>
    <Content />
  </article>
</DocsLayout>